<!-- xml -->
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Test Suite" verbose="1">

<listeners>
    <listener class-name="listeners.TestListener"/>
</listeners>

<test name="API Tests">
    <classes>

        <class name="tests.SignIn_SignOutTests"/>
        <class name="tests.EmailVerifyTests"/>
        <class name="tests.SignUpTests"/>
        <class name="tests.ExampleTest"/>
    </classes>
</test>

</suite>
